<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/static/assets/bus-icon.png">
  </head>

  <body>
    {{message}}
    <form method="POST">
      Username:<input type="text" placeholder="Enter Username" name="username"><br>
      Password:<input type="password" placeholder="Enter Password" name="password"><br>
      <button type="submit">Login</button> <a href="/register">Register</a>
    </form>
  </body>
  
</html>
