<!doctype html>
<html>

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
  <link rel="icon" type="image/png" href="/static/assets/bus-icon.png">
  <style>
   body{
     background-color:#57068c;
   }
   h3,span,div,aside{
     color: white;
   }
   input,select{
     color:black;
   }
  </style>
</head>

<body>

 <!--  {% for college in data %} -->
  <div>
   <!--  {{college['name']}}  <br> -->
    <select>
   <!--   {% for class in college %} -->
   <!--      <option id="{{class['id']}}">{{class['name']}} </option>-->
    </select>
    <!--    {% endfor %} -->
  </div>
  <!--  {% endfor %} -->
  <!--  <input type="time" name="classtime"> -->
  <!--  <button type="submit">Submit Class</button> -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="font-size:35px;" >NYU Daily</a>
    </div>
  </nav>
  <center>
    <ul class="pagination">
      <li id="monday"><a href="/profile-monday" >Monday</a></li>
      <li id="tuesday"><a href="/profile-tuesday" >Tuesday</a></li>
      <li id="wednesday"><a href="/profile-wednesday" >Wednesday</a></li>
      <li id="thursday"><a href="/profile-thursday" >Thursday</a></li>
      <li id="friday"><a href="/profile-friday" >Friday</a></li>
    </ul>
  </center>
  <aside id="currentClasses" style="position:fixed; left:1005px;"; class="list-group"  ></aside> 
  <div>
    <h3>    Welcome {{user}}, Pick your classes </h3>
    <div id="school">
      <txt style="font-size:20px"> Campus:</txt>
      <select id="selectSchool" class="btn">
	<option value="" disabled selected>Please select your campus</option>
	<option>POLY NYU</option>
	<option>NYU CSA</option>
	<option>NYUSTERN</option>
	<option>College of Dentistry</option>
	<option>College of Nursing</option>
	<option>Ctr for Urban Science Program</option>
	<option> Gallatin School of Individualized Study </option>
	<option>Graduate School of Arts and Science </option>
	<option>Leonard N. Stern School of Business </option>
	<option> Liberal Studies </option>
	<option>  Robert F. Wagner Graduate School of Public Service </option>
	<option> School of Continuing and Professional Studies </option>
	<option> School of Law </option>
	<option> School of Medicine </option>
	<option> Tisch School of the Arts </option>
	<option>Steinhardt School of Culture, Education, and Human Development - Undergraduate </option>
      </select>
      <br>
      <br>
    </div>
    <div>
      <txt style="font-size: 20px" >Classes:</txt>
      <select id="selectC" class="btn">
	<option id="class['CS1001']">Computer Science </option>
	<option id="class['CS1002']">Computer Science2 </option>
	<option id="class['CS1003']">Computer Science3 </option>
	<option id="class['CS1004']">Computer Science4 </option>
      </select>
    </div>
  </div>
  <br>
  <p>
  <span>Class Time:<input type="time" id="classtime" class="input-group input-group-sm"></span>
  </p>
  <button type="submit" id="test" onclick="AddClass()" class="btn btn-success">Submit Class</button> 
  <br>
  


  <div id="map">
    <center>
      <div id="currentTime" style="top:30px; left:575px; position: fixed;"></div>
    </center>
    Next Bus: <span id="busTime"> Calculating... </span>
  </div>
  
  <div class="js">
  <script>
   
   var ClassArray = [];

   function pageSelect(){
     var str = document.URL.split('/',4);
     var str2 = str[3].split('-');
     var day = str2[1];
     var d = document.getElementById(day);
     d.className = d.className + "active";
   }

   pageSelect();
   
   function Class(school,classcode,time){
     this.school = school;
     this.classcode = classcode;
     this.time = time;
   }
   
   //Used to sort the Class time
   function compare(a,b){
       if(a.time > b.time){
	 return 1;
       }
       else{
	 return -1;
       }
     }

   //Adds the currentClass List
   function AddClass(){
     var classinfo ="";
     var s = document.getElementById('selectSchool');
     var school = s.options[s.selectedIndex].text;
     var e = document.getElementById('selectC');
     var classcode = e.options[e.selectedIndex].text;
     var t = document.getElementById('classtime');
     var time = t.value;
     ClassArray.push(new Class(school,classcode,time));
     ClassArray.sort(compare);
     for (var i = 0; i < ClassArray.length;i++){
       classinfo += "<br> <h4 class=\"list-group-item-heading\">"+ ClassArray[i].school + "</h4>" +
		    "<p class=\"list-group-item-text\">" +
    		    "Class: " + ClassArray[i].classcode + "<br>" +
    		    "When: " + ClassArray[i].time + "<br>" 
		    "</p>"   
    }
     document.getElementById('currentClasses').innerHTML = classinfo;
     Planner();
   }

   //MAPScript
   var now;
   var daily;
   var time = function (){
     now = new Date();
     daily = [
       now.getHours(),
       ':',
       now.getMinutes(),
       ':',
       now.getSeconds()
     ].join('');
     document.getElementById('currentTime').innerHTML ="<h2>" + daily + "</h2>";
   }
   setInterval(time,1000);
   
   var StudentSchedule = [
     ["Monday-Thursday"],
     ["10:45","11:45","1:15","2:45"]
   ];
   var Answer = [];

   function Planner(){
     Answer = [];
     for(var i = 0;i < ClassArray.length;i++){
	 if(ClassArray[i].time > daily){
	   Answer.push(ClassArray[i].time);
       }
     }
     Answer.sort(compare);
   }
   
   setInterval(Planner,50000);
   
   function Schedule(){
     var ans;
     if(daily > "00:00" && daily < "07:00" || Answer.length == 0){
       document.getElementById('busTime').innerHTML = "You're done for the day!";
       return;
     }else{
       for(var i =0;i < Answer.length;i++){
	 for(var j =0;j < StudentSchedule[1].length; j++){
	   if(Answer[i] > StudentSchedule[1][j]){
	     ans = j + 1;
	   }
	 }
       }
     }
     if (StudentSchedule[1][ans] == undefined){
       document.getElementById('busTime').innerHTML = "You're done for the day!";
     }else{
       document.getElementById('busTime').innerHTML = PolySchedule[1][ans];
       }
   }
      
   setInterval(Schedule,5000);
  </script>
  </div>

  
</body>

</html>
